<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Setting3" value="Setting3Local"/>
    <add key="Setting4" value="Setting4Value"/>
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="String2" connectionString="Data Source=String2Local.s3db;" providerName="System.Data.SQLite"/>
    <add name="String3" connectionString="Data Source=String3.s3db;" providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>