<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Setting2" value="Setting2ValueExternal2" />
    <add key="Setting3" value="Setting3Value" />
  </appSettings>

  <connectionStrings>
    <add name="String1" connectionString="Data Source=String1External2.s3db;" providerName="System.Data.SQLite"/>
    <add name="String2" connectionString="Data Source=String2.s3db;" providerName="System.Data.SQLite"/>
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <add name="Npgsl Data Provider"
           invariant="System.Data.PostgreSQL"
          description=".Net Framework Data Provider for PostgreSQL"
          type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
          description=".Net Framework Data Provider for SQLite"
          type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
</configuration>